.App {
  text-align: center;
  width: 390px;
  height: 844px;
  background-color: white;
  position: relative;
}

.back {
  width: 390px;
  height: 844px;
  background-color: #6969691f;
  position: absolute;
  z-index: 3;
}

:root {
  --bl-color: #00adb5;
  --gra1: #eeeeee;
  --gra2: #393e46;
  --gar3: #222831;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  background-color: #a8a8a863;
}

a {
  text-decoration: none; /* 밑줄 제거 */
}
.title {
  font-size: 35px;
  color: var(--gra2);
  font-weight: 700;
  text-align: left;
  margin-bottom: 5px;
}

.week {
  font-size: 25px;
  color: var(--bl-color);
  font-weight: 600;
  text-align: left;
  margin-top: 5px;

}

.main {
  display: flex;
  flex-direction: column;
  margin: 20px;
  height: 750px;
}

.boxContainter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.percentContainer {
  position: relative;
  height: 25px;
  margin: 5px 0px;
}

.line {
  width: 350px;
  height: 1px;
  background-color: #393e46;
  position: absolute;
  top: 17px;
  z-index: 1;
}

.percent {
  font-size: 25px;
  color: #00adb5;
  font-weight: 500;
  z-index: 1;
  background-color: white;
  position: relative;
  padding: 0px 10px;
}

.list {
  display: flex;
  justify-content: left;
  align-items: center;
}

ul {
  list-style: none;
  padding-left :0px
}

textarea {
  border: var(--gra1);
  height: 92px;
  width: 320px;
  border-radius: 10px;
  color: var(--gar3);
  margin-bottom: 15px;
  padding: 15px;
  outline-style: none; 
  resize: none;
  font-size: 18px;
  font-family: Arial, sans-serif;
}